.filter-section {
    padding: 4rem 18vw 4rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.searchbar-container {
    display: flex;
    justify-content: center;
    position: relative;
}

.searchbar {
    width: 100%;
    padding: 1em;
    border-radius: 5px;
    border: 1.5px solid black;
    background-color: var(--color-white-2);
}

.searchbar-container span {
    position: absolute;
    display: flex;
    top: 20%;
    right: 0.3em;
    color: var(--color-neutral);
}

/* No results */
.noresults-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.noresults-emoji {
    color: rgba(255, 255, 255, 70%);
    font-size: 6rem;
    font-weight: bold;
}

.noresults-message {
    color: rgba(255, 255, 255, 90%);
    font-size: 2.5rem;
}

/* Card card an */
.parent-merch-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.merch-bg-container {
    background-color: var(--color-blue);
    min-height: 60vh;
}

.merch-tab-container {
    display: flex;
    flex: 1;
    padding-inline: 20%;
}

.tab-item-container {
    text-align: center;
    width: 100%;
}

.tab-item {
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    white-space: nowrap;
}

.tab-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 0.4em;
    background-color: black;
}

.tab-item.active-tab::after {
    background-color: var(--color-blue);
}

.merch-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 3vh;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-white-2);
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
}

.card-carticon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    padding: 0.3em;
    border-radius: 50%;
    background-color: var(--color-green);
}

.card-pict {
    background-size: cover;
    width: 20vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-details {
    padding: 2vh 2vw;
    width: 100%;
    text-align: center;
    font-size: 1rem;
}

@media (max-width: 700px) {
    .merch-tab-container {
        padding-inline: 5%;
    }

    .filter-section {
        padding: 7rem 10vw 3rem;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.4rem;
    }

    .card-pict {
        width: 42vw;
    }

    /* No results */
    .noresults-emoji {
        font-size: 3rem;
    }

    .noresults-message {
        font-size: 1.25rem;
    }
}
